<nav class="mb-4">
    <ol class="breadcrumb" style="background-color: #b0eeec;">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/pieces">Peças</a></li>
        <li class="breadcrumb-item active">{{pageTitle}}</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left pl-2">
            {{pageTitle}}
        </h1>    
    </div>
    <div class="col">
        <a routerLink="/pieces" class="btn btn-light float-right"> << Voltar</a>
    </div>
</div>

<form [formGroup]="pieceForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">
            Informações sobre a peça
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-2 mb-2 ml-4" *ngIf="chargeFiles.length">
                    <img class="rounded imagePreview" [src]="'http://sis.sandrapelincer.com.br/api/files/CustomPieces/photo/'+photo">
            </div>
                <div class="row col-md-10">
                    <div class="form-group">
                        <h3 class="first mb-3">{{imageTitle}}</h3>
                        <p-fileUpload class="col-md-6"  previewWidth="150" chooseLabel="Escolher" [showUploadButton]="false" [showCancelButton]="false" 
                        name="demo[]" multiple="false" customUpload="true" type="file" accept="image/*" maxFileSize="1000000" (onSelect)="showPreview($event)">
                            <ng-template pTemplate="toolbar">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles"></li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="nome" formControlName="nome">
                </div>
                <div class="form-group col-md-2">
                    <label for="name">Código</label>
                    <input type="text" class="form-control" id="codigo" formControlName="codigo">
                </div>
                <div class="form-group col-md-1">
                    <label for="name">Peso (g)</label>
                    <input type="text" class="form-control" id="peso" formControlName="peso">
                </div>
                <div class="form-group col-md-1">
                    <label for="tamanho">Tamanho</label>
                    <select name="tamanho" id="tamanho" class="form-control" formControlName="tamanho">
                        <option value="Micro">Micro</option>
                        <option value="Mini">Mini</option>
                        <option value="Normal">Normal</option>
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <label for="tipo">Tipo</label>
                    <select name="tipo" id="tipo" class="form-control" formControlName="tipo">
                        <option value="Semi Jóia">Semi Jóia</option>
                        <option value="Ouro">Ouro</option>
                        <option value="Prata">Prata</option>
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <label for="modelo">Modelo</label>
                    <select name="modelo" id="modelo" class="form-control" formControlName="modelo">
                        <option value="Padrão">Padrão</option>
                        <option value="Simples">Simples</option>
                        <option value="Dupla">Dupla</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="categoria">Categoria</label>
                    <select name="categroai" id="categoria" class="form-control" formControlName="categoria">
                        <option value="Anel">Anel</option>
                        <option value="Brinco">Brinco</option>
                        <option value="Colar">Colar</option>
                        <option value="Diversos">Diversos</option>
                        <option value="Inox">Inox</option>
                        <option value="Mandala">Mandala</option>
                        <option value="Pulseira">Pulseira</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="name">Valor Bruto</label>
                    <div class="input-group">
                        <div class="imput-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input type="text" [imask]="imaskConfig" class="form-control" id="valor_bruto" formControlName="valor_bruto">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="name">Valor Banhado</label>
                    <div class="input-group">
                        <div class="imput-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input type="text" [imask]="imaskConfig" class="form-control" id="valor_banho" formControlName="valor_banho">
                    </div>
                </div>
                <div class="form-group col-md-2">
                <label for="status">Status</label>
                <select name="status" id="status" class="form-control" formControlName="status">
                    <option value="true">Ativo</option>
                    <option value="false">Inativo</option>
                </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="name">Obs:</label>
                    <input type="text" class="form-control" id="obs" formControlName="obs">
                </div>
            </div>
        </div>
    </div>

    <button [disabled]="submittingForm || pieceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3 mb-5">
        Salvar
    </button>

</form>