.bgImg{
    /*background-image: url("/src/assets/logoDourada.png");
    */
    background-color: aquamarine;
}
.watermarked {
  position: relative;
  z-index: 1000000;
}
.test{
  float: left; width: 47.8%;
  font-size: 13px;
  border: 1px solid black;
  margin: 1.5px;
}
  
.watermarked:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 3px;
  background-image: url("/assets/logoDourada.png")  !important;
  background-size: 100px 100px;
  background-position: 200px 30px;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 1000000;
}
* {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
  color-adjust: exact !important; 
}

@page {
  size: 210mm 297mm; 
  /* Chrome sets own margins, we change these printer settings */
  margin: 27mm 16mm 27mm 16mm; 
}


@media print
{  
  .non-printable { display: none; }
  .printable { display: block; page-break-after: always;}
}

pago{
  color: green !important;
}

pendente{
  color: red !important;
}
