.card-title {
    background-image: url("src/assets/login.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 90px;
    width: 100%;
}
.bg {
    background-image: url("src/assets/bg.jpeg");
    
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
    background-color: #e9ecef;
    color: black;
}
.bg {
    /* The image used */
    background-image: url(src\assets\bg2.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }