<nav class="navbar navbar-expand-lg navbar-dark mb-1" style="background-color: #d131a9;">
  <a class="navbar-brand" routerLink="/">
    <img src="../assets/logo.png" width="70" height="60" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/pieces">Peças</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/pendencies">Pedidos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/reports">Relatórios</a>
      </li>
    </ul>
  </div>
</nav>
<div class="div-container">
  <router-outlet ></router-outlet>
</div>