/* You can add global styles to this file, and also import other style files */
/* FileUpload */
.align-loading{
  width: 100px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.tabela-atendentes{
  width: 100vw;
  margin: 2em auto;
  text-align: center;
}

.tabela-atendentes th, td{
  padding: 0.5rem 0;
  border: 1px solid;
  border-spacing: 2px;
  border-color: grey;
}

.div-box{
  margin-top: 6em;
  margin-bottom: 2rem;
}

.format-div{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.format-p{
  margin-top: 0.5rem;
  font-size: 20px;
  color: black;
}

.bottom-border{
  border-bottom: 2px solid black;
}

.ui-fileupload .ui-fileupload-buttonbar {
    background-color:  #ffffff !important;
    padding: 0.571em 1em;
    border: none !important;
    color: #ffffff !important;
    border-bottom: 0 none;
}
.ui-fileupload .ui-fileupload-content {
    background-color: #ffffff;
    padding: 0.571em 1em;
    border: none !important;
    color: #333333;
}
.current-window {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 50px;
    z-index: 1000000;
  }
  @media print {
  .campos{
    font-size: 9px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 202);
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
  }
  column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  }
 